.container {
  padding: 40px;
}
.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.custom-card {
  max-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: down;
  animation-duration: 0.5s;
}
.custom-card:hover {
  transform: scale(1.1);
  animation-name: up;
  animation-duration: 0.2s;
}
.custom-card p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@keyframes up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes down {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
