<div *ngIf="mockLoading" class="loading">
  <mat-spinner diameter="80"></mat-spinner>
</div>
<div class="container">
  <div class="row custom-row">
    <div *ngIf="(!items || items.length === 0) && !mockLoading" class="empty-car">
      <h2>Não há itens no carrinho.</h2>
    </div>
    <div class="col-md-4 col-sm-12 mb-5" *ngFor="let item of items">
      <mat-card class="custom-card">
        <img mat-card-image [src]="item.urlImage" alt="Photo of a Shiba Inu" width="277px" height="221px">
        <mat-card-title-group>
          <mat-card-title>
            {{item.title}}
          </mat-card-title>
          <mat-card-subtitle>
            {{item.subtitle}}
          </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <p>
            {{item.text}}
          </p>
        </mat-card-content>
        <mat-card-actions style="display:flex; justify-content: end">
          <button
            mat-button
            color="warn"
            (click)="removeItem(item.id)"
            [disabled]="(idSelected === item.id)">
            Remover do Carrinho
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="footer">
      <div class="footer-container">
        <div>
          <h2>Quantidade de itens:</h2>
          <h3>{{items?.length || 0}}</h3>
        </div>
        <div >
          <button mat-raised-button color="warn" *ngIf="items?.length > 0" class="me-2" (click)="cleanCart()">Limpar Carrinho</button>
          <button mat-raised-button color="primary" (click)="goBack()">Voltar</button>
        </div>
      </div>
    </div>
  </div>
</div>
